body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff; /* Blue color for the header */
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: #fff;
    margin: 0;
}

main {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 15px;
    margin: 10px 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background-color: #007bff;
}

button:hover {
    opacity: 0.9;
    background-color: #0056b3;
}

#showFormBtn {
    background-color: #28a745;
}

#showFormBtn:hover {
    background-color: #218838;
}

#todoForm, #updateForm {
    display: none;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    transition: opacity 0.5s ease-in-out;
}

#todoForm.show, #updateForm.show {
    display: block;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 20px auto;
}

.todo-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.todo-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todo-item .edit-btn {
    background-color: #ffc107;
    color: #000;
}

.todo-item .edit-btn:hover {
    background-color: #e0a800;
}

.todo-item .delete-btn {
    background-color: #dc3545;
}

.todo-item .delete-btn:hover {
    background-color: #c82333;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}
